<h3>Here are all the definitions of this word:</h3>

<ul>
  <% @word.words_spelled().each() do |word_spelled| %>
    <li><a href="/definitions/<%= word_spelled.id() %>"><%= word_spelled.first() %> <%= word_spelled.second() %> <%= word_spelled.third() %></a></li>
  <% end %>
</ul>

<a href="/words/<%=@word.id%>/definitions/new">Add a new definition</a>
<a href="/">Return to Main Page</a>
