<h1>Here are the definitions of the word:</h1>

<ul>
  <% @word.words_spelled().each() do |word_spelled| %>
    <li><a href="/definitions/<%= word_spelled.id() %>"><%= word_spelled.first() %> <%= word_spelled.second() %> <%= word_spelled.third() %></a></li>
  <% end %>
</ul>

<a href="/words/<%=@word.id%>/definitions/new"><h3>Add a new definition</h3></a>
